<footer class="footer">
  <h2>Subscribe</h2>
  <p>Join our occasional newsletter for product launches, availability, job openings, and news:</p>
  <form action="https://formspree.io/song940@gmail.com" method="post" class="input-group width-full">
    <input class="input" type="email" id="email" name="email" required placeholder="email address">
    <button class="button" type="submit">Submit</button>
  </form>
  <hr />
  Liu Song
  <address>
    <a href="mailto:hi@lsong.org">hi@lsong.org</a>
  </address>
  <a href="https://lsong.org">https://lsong.org</a>
</footer>