---
layout: default
---

<article class="post prose" lang="{{ page.lang | default: 'zh-CN' }}">
  <header class="post-header prose-header">
    <h1 lang="{{ page.title_lang | default: 'en' }}">{{ page.title }}</h1>
    <p class="meta prose-meta"><time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • {{ page.author }}{% endif %}{% if
      page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>
  <section class="post-content">
    {{ content }}
  </section>
  <footer class="post-footer">
  </footer>
</article>

<div class="comments">
  {% include comments.html %}
</div>
