---
layout: default
---

<main class="post yue">
  <header class="post-header">
    <h1>{{ page.title }}</h1>
    <p class="meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if
      page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>
  <article class="post-content">
    {{ content }}
  </article>
  <footer class="post-footer">
    <a href="https://creativecommons.org/licenses/by-nc-sa/4.0">
      <img src="https://licensebuttons.net/l/by-nc-sa/4.0/88x31.png" alt="CC BY-NC-SA 4.0" />
      CC BY-NC-SA 4.0
    </a>
  </footer>
</main>

<div class="comments">
  {% include comments.html %}
</div>